<header class="header">
    <h1 class="headline">Trofí
        <small>Bouffe</small>
    </h1>
    <ul class="header-subnav">
        <li>
            <a href="#">Browse Recipes</a>
        </li>
        <li>
            <a href="#">Sign Up</a>
        </li>
        <li>
            <a target="_blank" href="http://zurb.com/responsive">Log in</a>
        </li>
    </ul>
</header>
