<div class="entrance-container">
    <div class="entrance-div">
        <div class="button-container">
            <div>
                <button id="sign-in" ng-click="buttonClick()">Sign In</button>
            </div>
            <div>
                <button id="sign-up">Sign Up</button>
            </div>
        </div>
    </div>
</div>
