.form-container {
    top: $header-height;
    height: $container-height;
    margin-top: $header-height;
    margin-bottom: $header-height;
    border-radius: $global-radius * 5;
}

.form-container > div {
    margin-bottom: $header-height;

    button {
        width: 18rem;
        border-radius: $global-radius * 5;
    }
}

.button-holder {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.log-in-form {
    background: white;
    border: 1px solid $form-border-color;
    padding: $form-padding;
    border-radius: $form-radius;

    input[type="email"] {
        margin-bottom: 0px;
    }

    #confirm-password {
        margin-bottom: 0rem;
    }
}

.authentication-error-holder {
    display: flex;
    justify-content: center;
}

.authenticate-error {
    color: red;
}

.below-email-field {
    margin-top: 0.8rem;
}
