body {
    background-image: url("/images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content-list {
    box-shadow: $div-shadow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: $global-padding * 2;
    background: white;
    margin-top: $global-padding;
    margin-bottom: $global-padding;
    border-radius: 2rem;
}

.blue-button {
    min-height: 2rem;
    background: $button-blue;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.blue-button:hover {
    transition: all 500ms linear;
    background-color: darken($button-blue, 15%);
}

.green-button {
    min-height: 2rem;
    background: $button-green;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.green-button:hover {
    transition: all 500ms linear;
    background-color: darken($button-green, 20%);
}

.big-blue-button {
    margin-top: 2rem;
    height: 4rem;
    background: $button-blue;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.big-blue-button:hover {
    transition: all 500ms linear;
    background-color: darken($button-blue, 15%);
}

.gold-button {
    min-height: 2rem;
    background: #C8B631;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.gold-button:hover {
    transition: all 500ms linear;
    background-color: darken(#C8B631, 15%);
}

.red-button {
    min-height: 2rem;
    background: #C24642;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.red-button:hover {
    transition: all 500ms linear;
    background-color: darken(#C24642, 15%);
}

.purple-button {
    min-height: 2rem;
    background: #7F6084;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.purple-button:hover {
    transition: all 500ms linear;
    background-color: darken(#7F6084, 15%);
}

.slightly-darker-green-button {
    min-height: 2rem;
    background: #86B402;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.slightly-darker-green-button:hover {
    transition: all 500ms linear;
    background-color: darken(#86B402, 15%);
}

.teal-button {
    min-height: 2rem;
    background: #A2D1CF;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.teal-button:hover {
    transition: all 500ms linear;
    background-color: darken(#A2D1CF, 15%);
}

.sky-blue-button {
    min-height: 2rem;
    background: #6DBCEB;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
}

.sky-blue-button:hover {
    transition: all 500ms linear;
    background-color: darken(#6DBCEB, 15%);
}
