body {
    background-image: url("/images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content-list {
    box-shadow: $div-shadow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: $global-padding * 2;
    background: white;
    margin-top: $global-padding;
    margin-bottom: $global-padding;
    border-radius: 2rem;
}

.blue-button {
    min-height: 2rem;
    background: $button-blue;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
    background: $button-blue;
}

.green-button {
    min-height: 2rem;
    background: $button-blue;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: $global-padding;
    background: $button-green;    
}
