#nutrition-options-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#nutrition-options {
    margin-top: $global-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
}
