#nutrition-options-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#nutrition-options {
    margin-top: $global-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
}

#set-nutrition-facts {
    display: flex;
    flex-direction: column;

    button {
        margin-top: 1rem;
    }
}

#nf-button-holder-title {
    margin-top: 0.5rem;
}

#nf-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
        margin: 0.25rem 0 0.25rem 0;
    }
}

#nutritionfacts {
    background: white;
    border: 1px solid black;
    padding: 3px;
    width: 300px;
}

#nutritionfacts td {
    color: black;
    font-family: 'Arial Black','Helvetica Bold',sans-serif;
    font-size: 8pt;
    padding: 0;
}

#nutritionfacts td.nf-header {
    font-family: 'Arial Black','Helvetica Bold',sans-serif;
    font-size: 28px;
    white-space: nowrap;
}

#nutritionfacts div.nf-label {
    float: left;
    font-family: 'Arial Black','Helvetica Bold',sans-serif;
}

#nutritionfacts div.nf-serving {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    text-align: center;
}

#nutritionfacts div.weight {
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 1px;
}

#nutritionfacts div.dv {
    display: inline;
    float: right;
    font-family: 'Arial Black','Helvetica Bold',sans-serif;
}

#nutritionfacts table.vitamins td {
    font-family: Arial,Helvetica,sans-serif;
    white-space: nowrap;
    width: 33%;
}

#nutritionfacts div.line {
    border-top: 1px solid black;
    background: white;
}

#nutritionfacts div.labellight {
    float: left;
    font-family: Arial,Helvetica,sans-serif;
}

#nutritionfacts .highlighted {
    border: 1px dotted grey;
    padding: 2px;
}

.height-7 {
    height: 7px;

    td {
        background-color: #000000;
    }
}

.font-7 {
    font-size: 7px;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.bg-black {
    background-color: #000000;
}

#fat-cals {
    float: right;
}
