.recipe {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    min-height: 10rem;
    padding: $global-padding * 2;
    margin: $global-padding;
    border-radius: $inner-div-radius;
    background: $light-grey;

    div {
        display: flex;
    }

    img {
        margin-right: 1rem;
        border-radius: 50%;
        height: $small-image-size;
        width: $small-image-size;
    }

    button {
        align-self: flex-end;
    }
}

.recipe-info {
    flex-direction: column;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.edit-recipe-button {
    min-height: 2rem;
    background: $button-blue;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.edit-recipe-button:hover {
    transition: all 500ms linear;
    background-color: darken($button-blue, 10%);
}

.recipe-button-created-holder {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;

    p {
        margin-top: 0.5rem;
        font-style: italic;
    }
}
