.recipe-header {
    display: flex;
    align-items: center;
    margin-bottom: $global-padding;
    align-self: flex-start;

    p {
        margin: 0;
    }
}

.recipe-image {
    margin-right: 1rem;
    border-radius: 50%;
    height: $medium-image-size;
    width: $medium-image-size;
}

.recipe-content {
    display: flex;
    justify-content: center;
    min-width: 90%;

    h5 {
        margin-left: 1rem;
        color: $header-bg;
        font-family: fantasy;
        font-weight: 600;
    }
}

.recipe-ingredients-div {
    align-self: flex-start;
    border-radius: $inner-div-radius;
    min-width: 10%;
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0;
    box-sizing: content-box;
}

.recipe-directions-div {
    align-self: flex-start;
    border-radius: $inner-div-radius;
    min-width: 70%;
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0;
}

.recipe-div-innermost {
    background: $light-grey;
    padding: 0.1rem 0.7rem 0.3rem 0.7rem;
    border-radius: $inner-div-radius;
}

.ingredient {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.direction {
    margin: 0.5rem 0 0.5rem 0;
}

.recipe-buttons-div {
    align-self: flex-end;
}

.recipe-header-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;

    > p {
        margin: 1rem 0.5rem 0 0;
        font-style: italic;
    }
}
