#new-recipe-button {
    height: 4rem;
    background: $button-green;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    border-radius: 3rem;
    padding-bottom: 0.5rem;

    span {
        font-size: 2.8rem;
    }
}
